SUPABASE_URL=https://mihafadqktjwadfrivhh.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1paGFmYWRxa3Rqd2FkZnJpdmhoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTE5NzY4OSwiZXhwIjoyMDk0NzczNjg5fQ.0cnfevZVBnea7MquaYykbfO90MChldvtTSgFRl_K-mA
JWT_SECRET=smartsale_secret_2024
PORT=5000